// Screen Res. utility

.screen-res-indicator {
    position: fixed;
    z-index: 1000;
    top: 10px;
    left: 10px;
    background-attachment: white;
    color: black;
    font-size: 20px;
    width: 200px;
    height: 100px;
}

// S-UI overrides
.ui.container.container-main {
    height: 100%;
    padding: 15px;
    position: relative;

    @include responsive(mobile) {
        padding: 3vw;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.ui.grid.grid-main {
    height: 100% !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;

    @include responsive(tablet) {
        height: auto !important;

    }
}

.ui.grid>.column.column-main:not(.row) {
    padding: 0 !important;
    position: relative;
    //overflow: hidden;
}

// Header
.ui.large.menu {
    @include responsive(mobile) {
        font-size: 1vw;
        width: 100%;
        margin: 1vw 0 4vw 0;
    }
}


// Iconfont
.icon {
    &:before {
        display: inline-block;
        line-height: 1;
    }
}