@font-face {
	font-family: "iconfont";
	src: url('../fonts/icons/iconfont.eot');
	src: url('../fonts/icons/iconfont.eot?#iefix') format('eot'),
		url('../fonts/icons/iconfont.woff2') format('woff2'),
		url('../fonts/icons/iconfont.woff') format('woff'),
		url('../fonts/icons/iconfont.ttf') format('truetype'),
		url('../fonts/icons/iconfont.svg#iconfont') format('svg');
}

@mixin icon-styles {
	font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == exp1 {
		$char: "\E001";
	}
	@if $filename == exp2 {
		$char: "\E002";
	}
	@if $filename == exp3 {
		$char: "\E003";
	}
	@if $filename == exp4 {
		$char: "\E004";
	}
	@if $filename == exp5 {
		$char: "\E005";
	}
	@if $filename == exp6 {
		$char: "\E006";
	}
	@if $filename == exp7 {
		$char: "\E007";
	}
	@if $filename == follow {
		$char: "\E008";
	}
	@if $filename == social_facebook {
		$char: "\E009";
	}
	@if $filename == social_twitter {
		$char: "\E00A";
	}
	@if $filename == social_youtube {
		$char: "\E00B";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-exp1 {
	@include icon(exp1);
}
.icon-exp2 {
	@include icon(exp2);
}
.icon-exp3 {
	@include icon(exp3);
}
.icon-exp4 {
	@include icon(exp4);
}
.icon-exp5 {
	@include icon(exp5);
}
.icon-exp6 {
	@include icon(exp6);
}
.icon-exp7 {
	@include icon(exp7);
}
.icon-follow {
	@include icon(follow);
}
.icon-social_facebook {
	@include icon(social_facebook);
}
.icon-social_twitter {
	@include icon(social_twitter);
}
.icon-social_youtube {
	@include icon(social_youtube);
}
