/*******************************
          Structure
*******************************/

/*
  Structure Table of Contents
  * - Header
  * - Sections
    * - All sections
    * - Section intro
    * - Section our games
    * - Section manifesto
    * - Section about us
    * - Section our values
    * - Section join us
    * - Section contact us
    * - Footer
*/

/*******************************
           Header
*******************************/

.tt-header {
  position: absolute;
  background-color: transparent;
  top: 30px !important;
  z-index: 100;

  @include responsive(mobile) {
    top: 6vw !important;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center !important;
    // Inegal padding because of scrollable section
    // padding: 0 30px;
    padding: 0 35px 0 25px;

    @include responsive(mobile) {
      padding: 0vw 6vw 0vw 5vw;
    }
  }

  &__logo {
    width: 150px;
    flex-grow: 0;
    margin-bottom: 0;

    @include responsive(mobile) {
      width: 30vw;
    }

    img {
      display: block;
    }
  }

  &__socials {
    flex-grow: 2;
  }
}

.social-menu {
  list-style: none;
  text-align: right;
  margin: 0;

  a {
    color: black;
    transition: transform 0.1s;
    display: block;

    &:hover {
      color: white;
      transform: scale(1.15);
    }
  }

  &__item {
    display: inline-block;
    font-size: 30px;
    //font-size: 16px;
    margin-left: 25px;
    position: relative;
    top: 3px;

    @include responsive(mobile) {
      font-size: 6vw;
      margin-left: 4vw !important;
      top: 1vw;
    }
  }

  &__label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

/*******************************
          Sections
*******************************/

// All Sections

.tt-sections {}

.column-main {
  &.icon:before {
    position: absolute;
    font-size: 500px;
    opacity: 0.07;
    top: 50%;
    left: 60%;
    transform: rotate(-15deg) translateX(-50%) translateY(-50%);

    @include responsive(tablet) {
      left: 65%;
    }

    @include responsive(mobile) {
      font-size: 65vw;
    }
  }
}

.main-content {
  width: 65%;
  text-align: center;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  @include responsive(tablet) {
    width: 90%;
    top: auto;
    margin-top: 40px;
    transform: none;
  }

  &__title {
    font-size: 70px;
    line-height: 70px;

    @include responsive(mobile) {
      font-size: 46px;
      line-height: 49px;
    }
  }

  &__plain-text {
    margin-top: 30px;
    font-size: 22px;
    line-height: 32px;
    color: white;

    @include responsive(mobile) {
      font-size: 19px;
      line-height: 28px;
    }

    &--small {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

// Section intro

.section-intro {
  background: $color-tt-orange;
  position: relative;

  .column-main {
    &__follow {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      font-size: 50px;
      color: white;

      @include responsive(tablet) {
        display: none;
      }
    }
  }

  .main-content {
    width: 85%;

    @include responsive(tablet) {}

    @include responsive(mobile) {
      margin-bottom: 15vw;
    }
  }

  &__illustration-background {
    width: 100%;
    height: 100%;
    background-image: url("../images/backgrounds/homepage_paris.jpg");
    background-size: cover;
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);

    @include responsive(tablet) {
      width: 100%;
      height: 500px;
      background-position: center;
      background-image: url("../images/backgrounds/homepage_paris_mobile@2x.jpg");
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    }

    @include responsive(mobile) {
      height: 70vw;
    }
  }

  &__illustration-character {
    position: absolute;
    bottom: 0;
    right: -10px;
    width: 220px;

    @include responsive(computer) {
      right: -40px;
    }

    @include responsive(tablet) {
      display: none;
    }

    &--mobile {
      display: none;

      @include responsive(tablet) {
        display: block;
        bottom: -70px;
        right: 110px;
      }

      @include responsive(mobile) {
        width: 40vw;
        bottom: auto;
        top: 20vw;
        right: 10vw;
      }
    }
  }

  &__speech-bubble {
    position: absolute;
    bottom: 350px;
    right: 140px;
    padding: 15px 30px;
    background: white;
    border-radius: 0.4em;
    font-size: 18px;
    line-height: 1.5em;
    box-shadow: 2px 2px 4px 0px rgba(black, 0.3);

    @include responsive(computer) {
      right: 100px;
    }

    @include responsive(tablet) {
      right: 250px;
      bottom: 310px;
    }

    @include responsive(mobile) {
      bottom: auto;
      top: 18vw;
      right: 37vw;
      padding: 3vw 5vw;
      border-radius: 1vw;
      font-size: 4vw;
      line-height: 5.5vw;
    }
  }

  &__speech-bubble:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 70%;
    width: 0;
    height: 0;
    border: 1em solid transparent;
    border-top-color: white;
    border-bottom: 0;
    border-right: 0;
    margin-left: -0.5em;
    margin-bottom: -1em;
  }
}

// Section Our games

.section-ourgames {
  background: $color-tt-green;

  .main-content {
    width: 85%;

    @include responsive(tablet) {
      width: 90%;
      top: auto;
      margin-top: 140px;
      transform: none;
    }

    @include responsive(mobile) {
      width: 90%;
      margin-top: 25vw;
      margin-bottom: 15vw;
    }

    &__plain-text {
      width: 80%;
      margin: auto;
      margin-bottom: 2em;
    }
  }
}

.tt-carousel-games {
  // Owl

  .owl-stage-outer {
    padding-bottom: 10px;
  }

  .owl-nav {

    button.owl-prev,
    button.owl-next {
      position: absolute;
      width: 44px;
      height: 44px;
      border-radius: 22px;
      margin: 0vw;
      color: red;
      background: white;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
      transition: transform 0.1s;

      @include responsive(mobile) {
        width: 10vw;
        height: 10vw;
        border-radius: 5vw;
        margin: 3vw;
      }

      span {
        position: relative;
        text-align: center;
        display: block;
        margin: auto;
        top: -6px;
        font-size: 50px;

        @include responsive(mobile) {
          top: -1vw;
          font-size: 12vw;
        }
      }
    }

    button.owl-prev {
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      left: 0;

      &:hover {
        transform: translateY(-50%) translateX(-50%) scale(1.15);
      }
    }

    button.owl-next {
      top: 50%;
      transform: translateY(-50%) translateX(50%);
      right: 0;

      &:hover {
        transform: translateY(-50%) translateX(50%) scale(1.15);
      }
    }

    button.owl-prev,
    button.owl-next {
      @include responsive(mobile) {
        display: none;
        position: static;
        top: auto;
        left: auto;
        right: auto;
        transform: none;
      }
    }
  }

  // Elements
  &__item-wrapper {
    cursor: pointer;
    display: block;
    position: relative;
    color: white;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 4px 0px rgba(black, 0.5);

    &:hover {
      .tt-carousel-games__cover {
        transform: scale(1.1);
      }
    }
  }

  &__cover {
    display: block;
    border-radius: 5px;
    transition: transform 0.2s;
  }

  &__dimmer {
    position: absolute;
    top: 20%;
    bottom: -1px;
    left: 0;
    right: 0;
    border-radius: 5px;
    background: linear-gradient(rgba(black, 0), rgba(black, 0.7));
  }

  &__informations {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 20px;
  }

  &__title {
    font-family: $headerFont;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 1.1em;
    margin-bottom: 15px;
    display: block;
    width: 100%;
  }
}

// Section Manifesto

.section-manifesto {
  background: $color-tt-blue;

  .main-content {
    text-align: justify;
    width: 85%;

    &__tictales-logo {
      width: 100px;
    }

    &__signature {

      margin-top: 40px;

      img,
      span {
        vertical-align: middle;
      }

      span {
        font-family: $headerFont;
        position: relative;
        top: 5px;
      }

    }
  }


  &__illustration-background {
    width: 100%;
    height: 100%;
    background-image: url("../images/backgrounds/tictales_games_mosaic@2x.jpg");
    background-size: cover;
    clip-path: polygon(15% 0, 0 100%, 100% 100%, 100% 0%);

    @include responsive(tablet) {
      width: 100%;
      height: 500px;
      background-position: center;
      background-image: url("../images/backgrounds/homepage_paris_mobile@2x.jpg");
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    }

    @include responsive(mobile) {
      height: 70vw;
    }
  }
}


// Section About us

.section-about-us {
  background: $color-tt-yellow;

  &__illustration-background {
    width: 100%;
    height: 100%;
    background-image: url("../images/backgrounds/asian_street@2x.jpg");
    background-size: cover;
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);

    @include responsive(tablet) {
      width: 100%;
      height: 500px;
      background-position: center;
      background-image: url("../images/backgrounds/homepage_paris_mobile@2x.jpg");
      clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
    }

    @include responsive(mobile) {
      height: 70vw;
    }
  }

  &__illustration-floating {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    width: 220px;

    @include responsive(computer) {
      right: -40px;
    }

    @include responsive(tablet) {
      display: none;
    }

    &--mobile {
      display: none;

      @include responsive(tablet) {
        display: block;
        bottom: -70px;
        right: 110px;
      }

      @include responsive(mobile) {
        width: 40vw;
        bottom: auto;
        top: 20vw;
        right: 10vw;
      }
    }
  }

  .main-content {
    &__plain-text {
      color: black;
    }
  }

}



// Section Our values

.section-our-values {
  background: $color-tt-green;

  .column-main {
    &.icon:before {
      left: 50%;
    }
  }

  .main-content {
    width: 85%;
    position: relative;

    &__illustration-values {
      width: 100%;
      margin-top: 50px;
      max-width: 800px;
      margin: auto;
      margin-top: 200px;
      height: 180px;
      display: block;
      background-image: url('../images/backgrounds/pond_desktop@2x.jpg');
      background-size: cover;
      background-position: center;
      position: relative;
      text-align: center;
    }

    &__illustration-characters {
      position: absolute;
      display: block;
      margin: auto;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      width: 60%;
    }

    @include responsive(tablet) {
      width: 90%;
      top: auto;
      margin-top: 140px;
      transform: none;
    }

    @include responsive(mobile) {
      width: 90%;
      margin-top: 25vw;
      margin-bottom: 15vw;
    }

    &__plain-text {
      width: 80%;
      margin: auto;
      margin-bottom: 2em;
    }
  }
}


// Section Join us

.section-join-us {
  background: $color-tt-blue;
}

.job-board {

  width: 90%;
  margin: auto;
  margin-top: 50px;

  &__title {
    font-size: 26px;
  }

  &__item {
    display: flex;
    list-style-type: none;
    margin-top: 20px;
    padding-top: 20px;

    &:not(:first-child) {
      border-top: 1px solid rgba(white, 0.5);
    }
  }

  &__position {
    flex-grow: 1;
    text-align: left;
    vertical-align: middle;
    font-size: 21px;
    margin-bottom: 0;
    height: auto;

    span {
      display: block;
      position: relative;
      top: 55%;
      transform: translateY(-50%);
    }
  }

  &__description {
    flex-grow: 0;
    vertical-align: middle;
    color: white;

    .ui.button {
      margin-left: 15px !important;
    }
  }

}


// Section Contact us

.section-contact-us {
  background: $color-tt-orange;
}

.ui.inverted.form.contact-form {
  width: 100%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: left;

  .field {
    text-align: left;
    color: white;

    >label {
      font-size: 18px !important;
      font-weight: 300 !important;

      &:after {
        color: white;
      }
    }

    input,
    textarea {
      background-color: transparent;
      font-family: $headerFont;
      font-size: 30px;
      border: none;
      border-bottom: 1px solid white;
      color: white;
      padding-left: 0;
      padding-top: 10px;
      padding-bottom: 5px;
      border-radius: 0;

      &::placeholder {
        color: rgba(white, 0.5);
      }

      &:focus-within {
        border-bottom: 3px solid white;
      }
    }

    textarea {}
  }

  .ui.button.contact-form__submit {
    background-color: white !important;
    color: black;
    margin-top: 20px;
    margin-bottom: 50px;
    transition: transform 0.1s, color 0.1s;

    &:hover {
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, .5);
      transform: scale(1.07);
      color: $color-tt-orange;
    }
  }
}



/*******************************
           Footer
*******************************/

.tt-footer {
  position: absolute;
  bottom: 15px;
  background-color: black;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center !important;
  padding: 5px 20px 5px 20px;

  @include responsive(mobile) {
    // top: 6vw !important;
  }

  &__logo {
    width: 110px;
    flex-grow: 0;
    margin: 5px 0;

    @include responsive(mobile) {
      width: 30vw;
    }

    img {
      display: block;
    }
  }

  &__content-info {
    flex-grow: 2;
    text-align: right;
    margin: 0;
  }
}

.content-info {
  list-style-type: none;

  &__item {
    display: inline-block;
    font-size: 14px;
    padding: 0 5px 0 10px;

    a {
      color: $color-tt-grey-footer;
      transition: color 0.1s;

      &:hover {
        color: white;
      }
    }


    &:not(:first-child) {
      border-left: 1px solid rgba($color-tt-grey-footer, 0.5);
    }
  }
}


/*******************************
          Identifying
*******************************/

.colored_1 {
  background-color: indianred !important;
}

.colored_2 {
  background-color: rosybrown !important;
}

.colored_3 {
  background-color: mediumpurple !important;
}

.colored_4 {
  background-color: aliceblue !important;
}

.colored_5 {
  background-color: gold !important;
}

.colored_6 {
  background-color: bisque !important;
}

.colored_7 {
  background-color: darkturquoise !important;
}

.colored_8 {
  background-color: darkseagreen !important;
}

.colored_9 {
  background-color: teal !important;
}

.colored_10 {
  background-color: tomato !important;
}