/*******************************
          Structure
*******************************/

/*
  Structure Table of Contents
  * - Header
  * - Sections
    * - All sections
    * - Section intro
    * - Section our games
*/



/*******************************
           Header
*******************************/

.tt-header {
  top: 30px !important;

  @include responsive(mobile) {
    top: 6vw !important;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center !important;
    // Inegal padding because of scrollable section
    // padding: 0 30px;
    padding: 0 35px 0 25px;

    @include responsive(mobile) {
      padding: 0vw 6vw 0vw 5vw;
    }
  }

  &__logo {
    width: 150px;
    flex-grow: 0;
    margin-bottom: 0;

    @include responsive(mobile) {
      width: 30vw;
    }

    img {
      display: block;
    }
  }

  &__socials {
    flex-grow: 2;
  }
}

.social-menu {
  list-style: none;
  text-align: right;
  margin: 0;


  a {
    color: black;
    transition: transform 0.1s;
    display: block;

    &:hover {
      color: white;
      transform: scale(1.15)
    }
  }

  &__item {
    display: inline-block;
    font-size: 30px;
    //font-size: 16px;
    margin-left: 25px;
    position: relative;
    top: 3px;

    @include responsive(mobile) {
      font-size: 6vw;
      margin-left: 4vw !important;
      top: 1vw;
    }

  }

  &__label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

}

/*******************************
          Sections
*******************************/

// All Sections

.tt-sections {}

.column-main {
  &.icon-exp1:before {
    position: absolute;
    font-size: 500px;
    opacity: 0.07;
    top: 50%;
    left: 60%;
    transform: rotate(-15deg) translateX(-50%) translateY(-50%);

    @include responsive(tablet) {
      left: 65%;
    }

    @include responsive(mobile) {
      font-size: 65vw;
    }
  }
}

.main-content {
  width: 65%;
  text-align: center;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  @include responsive(tablet) {
    width: 90%;
    top: auto;
    margin-top: 40px;
    transform: none
  }


  &__title {
    font-size: 70px;
    line-height: 70px;

    @include responsive(mobile) {
      font-size: 46px;
      line-height: 49px;
    }
  }

  &__plain-text {
    font-size: 22px;
    line-height: 32px;
    color: white;

    @include responsive(mobile) {
      font-size: 19px;
      line-height: 28px;
    }
  }
}


// Section intro

.section-intro {
  background: $color-tt-orange;
  position: relative;


  .column-main {
    &__follow {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      font-size: 50px;
      color: white;

      @include responsive(tablet) {
        display: none;
      }
    }
  }

  .main-content {
    width: 85%;

    @include responsive(tablet) {}

    @include responsive(mobile) {


      margin-bottom: 15vw;
    }


  }

  &__illustration-background {
    width: 100%;
    height: 100%;
    background-image: url('../images/backgrounds/homepage_paris.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);

    @include responsive(tablet) {
      width: 100%;
      height: 500px;
      background-position: center;
      background-image: url('../images/backgrounds/homepage_paris_mobile@2x.jpg');
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    }

    @include responsive(mobile) {
      height: 70vw;
    }

  }

  &__illustration-character {
    position: absolute;
    bottom: 0;
    right: -10px;
    width: 220px;

    @include responsive(computer) {
      right: -40px;
    }

    @include responsive(tablet) {
      display: none;
    }

    &--mobile {
      display: none;


      @include responsive(tablet) {
        display: block;
        bottom: -70px;
        right: 110px;
      }

      @include responsive(mobile) {
        width: 40vw;
        bottom: auto;
        top: 20vw;
        right: 10vw;
      }
    }

  }

  &__speech-bubble {
    position: absolute;
    bottom: 350px;
    right: 140px;
    padding: 15px 30px;
    background: white;
    border-radius: .4em;
    font-size: 18px;
    line-height: 1.5em;
    box-shadow: 2px 2px 4px 0px rgba(black, 0.3);

    @include responsive(computer) {
      right: 100px;
    }

    @include responsive(tablet) {
      right: 250px;
      bottom: 310px;
    }

    @include responsive(mobile) {
      bottom: auto;
      top: 18vw;
      right: 37vw;
      padding: 3vw 5vw;
      border-radius: 1vw;
      font-size: 4vw;
      line-height: 5.5vw;
    }
  }

  &__speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 70%;
    width: 0;
    height: 0;
    border: 1em solid transparent;
    border-top-color: white;
    border-bottom: 0;
    border-right: 0;
    margin-left: -0.5em;
    margin-bottom: -1em;
  }

}


// Section Our games

.section-ourgames {
  background: $color-tt-green;

  .ui.container.container-main {
    min-height: 650px;
  }

  .ui.grid.grid-main {
    min-height: 650px;
  }

  .main-content {
    width: 85%;

    @include responsive(tablet) {
      width: 90%;
      top: auto;
      margin-top: 140px;
      transform: none
    }

    @include responsive(mobile) {
      width: 90%;
      margin-top: 25vw;
      margin-bottom: 15vw;
    }

    &__plain-text {
      width: 80%;
      margin: auto;
      margin-bottom: 2em;
    }
  }
}

.tt-carousel-games {

  // Owl

  .owl-stage-outer {
    padding-bottom: 10px;
  }

  .owl-nav {

    button.owl-prev,
    button.owl-next,
      {
      position: absolute;
      width: 44px;
      height: 44px;
      border-radius: 22px;
      margin: 0vw;
      color: red;
      background: white;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
      transition: transform 0.1s;

      @include responsive(mobile) {
        width: 10vw;
        height: 10vw;
        border-radius: 5vw;
        margin: 3vw;
      }

      span {
        position: relative;
        text-align: center;
        display: block;
        margin: auto;
        top: -6px;
        font-size: 50px;

        @include responsive(mobile) {
          top: -1vw;
          font-size: 12vw;
        }



      }
    }

    button.owl-prev {
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      left: 0;

      &:hover {
        transform: translateY(-50%) translateX(-50%) scale(1.15);
      }

    }

    button.owl-next {
      top: 50%;
      transform: translateY(-50%) translateX(50%);
      right: 0;

      &:hover {
        transform: translateY(-50%) translateX(50%) scale(1.15);
      }
    }


    button.owl-prev,
    button.owl-next,
      {
      @include responsive(mobile) {
        display: none;
        position: static;
        top: auto;
        left: auto;
        right: auto;
        transform: none;
      }
    }
  }

  // Elements
  &__item-wrapper {
    cursor: pointer;
    display: block;
    position: relative;
    color: white;
    text-align: center;
    border-radius: 5px;
    overflow: visible;
    box-shadow: 0px 0px 4px 0px rgba(black, 0.5);
  }

  &__cover {
    display: block;
    border-radius: 5px;
  }

  &__dimmer {
    position: absolute;
    top: 20%;
    bottom: -1px;
    left: 0;
    right: 0;
    border-radius: 5px;
    background: linear-gradient(rgba(black, 0), rgba(black, 0.7));
  }

  &__informations {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 20px;
  }

  &__title {
    font-family: $headerFont;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 1.1em;
    margin-bottom: 15px;
    display: block;
    width: 100%;
  }


}




.section3 {
  background: $color-tt-blue;
}

.section4 {
  background: $color-tt-yellow;
}


/*******************************
          Identifying
*******************************/

.colored_1 {
  background-color: indianred !important;
}

.colored_2 {
  background-color: rosybrown !important;
}

.colored_3 {
  background-color: mediumpurple !important;
}

.colored_4 {
  background-color: aliceblue !important;
}

.colored_5 {
  background-color: gold !important;
}

.colored_6 {
  background-color: bisque !important;
}

.colored_7 {
  background-color: darkturquoise !important;
}

.colored_8 {
  background-color: darkseagreen !important;
}

.colored_9 {
  background-color: teal !important;
}

.colored_10 {
  background-color: tomato !important;
}