/*******************************
          Structure
*******************************/

/*
  Structure Table of Contents
  * - Header
  * - Sections
    * - All sections
    * - Section intro
    * - Section our games
    * - Section manifesto
    * - Section about us
    * - Section our values
    * - Section join us
    * - Section contact us
    * - Footer
    * - Information pages
    * - Loading screen
*/

/*******************************
           Header
*******************************/

.tt-header {
  background-color: transparent;
  top: 30px !important;
  display: flex;
  z-index: 100;
  display: flex;
  align-items: center !important;
  width: 100%;

  @include responsive(mobile) {
    top: 6vw !important;
  }

  &__logo {
    width: 150px;
    flex-grow: 0;
    margin-bottom: 0;

    @include responsive(mobile) {
      width: 30vw;
    }

    img {
      display: block;
    }
  }

  &__socials {
    flex-grow: 2;
  }
}

.social-menu {
  list-style: none;
  text-align: right;
  margin: 0;

  a {
    color: black;
    transition: transform 0.1s;
    display: block;

    &:hover {
      color: white;
      transform: scale(1.15);
    }
  }

  &__item {
    display: inline-block;
    font-size: 30px;
    margin-left: 25px;
    position: relative;
    top: 3px;

    @include responsive(mobile) {
      font-size: 6vw;
      margin-left: 4vw !important;
      top: 1vw;
    }
  }

  &__label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

/*******************************
          Sections
*******************************/

// All Sections

.column-main {
  &.icon:before {
    position: absolute;
    font-size: 500px;
    opacity: 0.07;
    top: 50%;
    left: 60%;
    transform: rotate(-15deg) translateX(-50%) translateY(-50%);

    @include responsive(tablet) {
      left: 65%;
    }

    @include responsive(mobile) {
      font-size: 65vw;
    }
  }
}

.main-content {
  width: 65%;
  text-align: center;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  @include responsive(tablet) {
    width: 90%;
    top: auto;
    margin-top: 100px;
    margin-bottom: 150px;
    transform: none;
  }

  @include responsive(mobile) {
    margin-top: 15vw;
    margin-bottom: 15vw;
  }

  &__title {
    font-size: 70px;
    line-height: 70px;
    position: relative;
    top: 30px;
    opacity: 0;
    transition: top, opacity;
    transition-duration: 0.4s;
    transition-delay: 0.3s;
    transition-timing-function: ease-out;

    &.legals-pages {
      top: 0px;
      opacity: 1;
    }

    &.finalPosition {
      top: 0px;
      opacity: 1;
    }

    @include responsive(mobile) {
      font-size: 46px;
      line-height: 49px;
    }
  }

  &__plain-text {
    margin-top: 30px;
    font-size: 22px;
    line-height: 32px;
    color: white;
    position: relative;
    top: 30px;
    opacity: 0;
    transition: top, opacity;
    transition-duration: 0.4s;
    transition-delay: 0.35s;
    transition-timing-function: ease-out;

    .main-content__plain-text {
      opacity: 1;
      top: 0;
    }

    &.finalPosition {
      top: 0px;
      opacity: 1;
    }

    @include responsive(mobile) {
      font-size: 19px;
      line-height: 28px;
    }

    &--small {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__miscellaneous {
    position: relative;
    top: 30px;
    opacity: 0;
    position: relative;
    top: 30px;
    opacity: 0;
    transition: top, opacity;
    transition-duration: 0.4s;
    transition-delay: 0.45s;
    transition-timing-function: ease-out;

    &.finalPosition {
      top: 0px;
      opacity: 1;
    }
  }
}

// Section intro

.section-intro {
  background: $color-tt-orange;
  position: relative;

  // Follow item
  .column-main {
    &__follow {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      font-size: 50px;
      color: white;

      @include responsive(tablet) {
        display: none;
      }
    }
  }

  .main-content {
    width: 65%;

    @include responsive(tablet) {
      width: 85%;
      margin-bottom: 150px;
    }

    @include responsive(mobile) {
      margin-bottom: 15vw;
    }
  }

  &__illustration-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../images/backgrounds/homepage_paris.jpg);
    background-image: -webkit-image-set(url(../images/backgrounds/homepage_paris.jpg) 1x,
      url(../images/backgrounds/homepage_paris@2x.jpg) 2x);

    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);

    @include responsive(tablet) {
      width: 100%;
      height: 500px;
      background-position: center;
      background-image: url(../images/backgrounds/homepage_paris_mobile@2x.jpg);
      background-image: -webkit-image-set(url(../images/backgrounds/homepage_paris_mobile.jpg) 1x,
        url(../images/backgrounds/homepage_paris_mobile@2x.jpg) 2x);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    }

    @include responsive(mobile) {
      height: 70vw;
    }
  }

  &__illustration-character {
    position: absolute;
    bottom: 0;
    right: 50px;
    width: 220px;
    opacity: 0;
    transition: right, opacity;
    transition-duration: 0.5s;
    transition-delay: 0.7s;
    transition-timing-function: ease-in-out;

    &.final-position {
      right: -10px;
      opacity: 1;
    }

    @include responsive(computer) {
      right: 20px;

      &.final-position {
        right: -40px;
        opacity: 1;
      }
    }

    @include responsive(tablet) {
      display: none;
    }

    &--mobile {
      display: none;

      @include responsive(tablet) {
        display: block;
        bottom: -70px;
        right: 180px;

        &.final-position {
          right: 110px;
          opacity: 1;
        }
      }

      @include responsive(mobile) {
        width: 40vw;
        bottom: auto;
        top: 30vw;
        right: 20vw;

        &.final-position {
          right: 10vw;
          opacity: 1;
        }
      }
    }
  }

  &__speech-bubble {
    position: absolute;
    bottom: 350px;
    right: 140px;
    padding: 15px 30px;
    background: white;
    border-radius: 0.4em;
    font-size: 18px;
    line-height: 1.5em;
    transform: scale(0);
    opacity: 0;
    box-shadow: 2px 2px 4px 0px rgba(black, 0.3);
    transition: transform, opacity;
    transition-duration: 0.5s;
    transition-delay: 0.9s;
    transition-timing-function: cubic-bezier(0.75, -0.5, 0, 1.75);

    &.final-position {
      transform: scale(1);
      opacity: 1;
    }

    @include responsive(computer) {
      right: 100px;
    }

    @include responsive(tablet) {
      right: 250px;
      bottom: 310px;
    }

    @include responsive(mobile) {
      bottom: auto;
      top: 18vw;
      right: 37vw;
      padding: 3vw 5vw;
      border-radius: 1vw;
      font-size: 4vw;
      line-height: 5.5vw;
    }
  }

  &__speech-bubble:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 70%;
    width: 0;
    height: 0;
    border: 1em solid transparent;
    border-top-color: white;
    border-bottom: 0;
    border-right: 0;
    margin-left: -0.5em;
    margin-bottom: -1em;
  }
}

// Section Our games

.section-ourgames {
  background: $color-tt-green;

  .main-content {
    width: 85%;

    // Added center vertically
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    margin-bottom: 0;

    @include responsive(tablet) {
      width: 90%;
      top: auto;
      margin-top: 140px;
      transform: none;
    }

    @include responsive(mobile) {
      width: 90%;
      margin-top: 25vw;
      margin-bottom: 15vw;
    }

    &__plain-text {
      width: 80%;
      margin: auto;
      margin-bottom: 2em;
    }
  }
}

.tt-carousel-games {
  // Owl

  .owl-stage-outer {
    padding-bottom: 10px;
  }

  .owl-nav {

    button.owl-prev,
    button.owl-next {
      outline: none;
      position: absolute;
      width: 44px;
      height: 44px;
      border-radius: 22px;
      margin: 0vw;
      color: red;
      background: white;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
      transition: transform 0.1s;

      @include responsive(tablet) {
        display: none;
      }

      @include responsive(mobile) {
        width: 10vw;
        height: 10vw;
        border-radius: 5vw;
        margin: 3vw;
      }

      span {
        position: relative;
        text-align: center;
        display: block;
        margin: auto;
        top: -6px;
        font-size: 50px;

        @include responsive(mobile) {
          top: -1vw;
          font-size: 12vw;
        }
      }
    }

    button.owl-prev {
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      left: 0;

      &:hover {
        transform: translateY(-50%) translateX(-50%) scale(1.15);
      }
    }

    button.owl-next {
      top: 50%;
      transform: translateY(-50%) translateX(50%);
      right: 0;

      &:hover {
        transform: translateY(-50%) translateX(50%) scale(1.15);
      }
    }

    button.owl-prev,
    button.owl-next {
      @include responsive(mobile) {
        display: none;
        position: static;
        top: auto;
        left: auto;
        right: auto;
        transform: none;
      }
    }
  }

  // Elements
  &__item-wrapper {
    cursor: pointer;
    display: block;
    position: relative;
    color: white;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 4px 0px rgba(black, 0.5);

    &:hover {
      .tt-carousel-games__cover {
        transform: scale(1.1);
      }
    }
  }

  &__cover {
    display: block;
    border-radius: 5px;
    transition: transform 0.2s;
  }

  &__dimmer {
    position: absolute;
    top: 20%;
    bottom: -1px;
    left: 0;
    right: 0;
    border-radius: 5px;
    background: linear-gradient(rgba(black, 0), rgba(black, 0.7));
  }

  &__informations {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 20px;
  }

  &__title {
    font-family: $headerFont;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 1.1em;
    margin-bottom: 15px;
    display: block;
    width: 100%;
  }
}

// Section Manifesto

.section-manifesto {
  background: $color-tt-blue;

  .main-content {
    text-align: justify;
    width: 85%;

    @include responsive(mobile) {
      text-align: left;
    }

    &__tictales-logo {
      width: 100px;
    }

    &__signature {
      margin-top: 40px;

      img,
      span {
        vertical-align: middle;
      }

      span {
        font-family: $headerFont;
        position: relative;
        top: 5px;
      }
    }
  }

  &__illustration-background {
    width: 100%;
    height: 100%;
    background-image: url(../images/backgrounds/tictales_games_mosaic.jpg);
    background-image: -webkit-image-set(url(../images/backgrounds/tictales_games_mosaic.jpg) 1x,
      url(../images/backgrounds/tictales_games_mosaic@2x.jpg) 2x);
    background-size: cover;
    clip-path: polygon(15% 0, 0 100%, 100% 100%, 100% 0%);

    @include responsive(tablet) {
      display: none;
      width: 100%;
      height: 500px;
    }

    @include responsive(mobile) {
      height: 70vw;
    }
  }
}

// Section About us

.section-about-us {
  background: $color-tt-yellow;
  position: relative;

  .main-content {
    width: 65%;

    @include responsive(tablet) {
      width: 85%;
    }

    @include responsive(mobile) {
      margin-bottom: 15vw;
    }
  }

  &__illustration-background {
    width: 100%;
    height: 100%;
    background-image: url("../images/backgrounds/asian_street.jpg");
    background-image: -webkit-image-set(url(../images/backgrounds/asian_street.jpg) 1x,
      url(../images/backgrounds/asian_street@2x.jpg) 2x);
    background-size: cover;
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);

    @include responsive(tablet) {
      width: 100%;
      height: 500px;
      background-position: center;
      background-image: url("../images/backgrounds/asian_street_mobile@2x.jpg");
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    }

    @include responsive(mobile) {
      height: 70vw;
    }
  }

  &__illustration-floating {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    width: 220px;

    @include responsive(computer) {
      right: -40px;
    }

    @include responsive(tablet) {
      display: none;
    }

    &--mobile {
      display: none;

      @include responsive(tablet) {
        display: block;
        top: 50%;
        left: 50%;
        width: 35vw;
        transform: translateX(-50%) translateY(-20vw);
      }
    }
  }

  .main-content {
    &__plain-text {
      color: black;
    }
  }
}

// Section Our values

.section-our-values {
  background: $color-tt-green;

  .column-main {
    &.icon:before {
      left: 50%;
    }
  }

  .main-content {
    width: 85%;
    position: relative;

    // Added center vertically
    top: 50%;
    transform: translateY(-50%);
    margin-top: 50px;
    margin-bottom: 50px;

    &__illustration-values {
      width: 100%;
      margin-top: 50px;
      max-width: 800px;
      margin: auto;
      margin-top: 200px;
      height: 180px;
      display: block;
      background-image: url(../images/backgrounds/pond_desktop.jpg);
      background-image: -webkit-image-set(url(../images/backgrounds/pond_desktop.jpg) 1x,
        url(../images/backgrounds/pond_desktop@2x.jpg) 2x);
      background-size: cover;
      background-position: center;
      position: relative;
      text-align: center;

      @include responsive(mobile) {
        margin-top: 25vw;
        height: 30vw;
      }
    }

    &__illustration-characters {
      position: absolute;
      display: block;
      margin: auto;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      width: 60%;

      @include responsive(tablet) {
        width: 90%;
      }
    }

    @include responsive(tablet) {
      width: 90%;
      top: auto;
      margin-top: 140px;
      transform: none;
    }

    @include responsive(mobile) {
      width: 90%;
      margin-top: 25vw;
      margin-bottom: 20vw;
    }

    &__plain-text {
      width: 80%;
      margin: auto;
      margin-bottom: 2em;
    }
  }
}

// Section Join us

.section-join-us {
  background: $color-tt-blue;

  .main-content {
    @include responsive(mobile) {
      margin-top: 30vw;
      margin-bottom: 50vw;
    }
  }
}

.job-board {
  width: 90%;
  margin: auto;
  margin-top: 50px;

  &__title {
    font-size: 26px;
  }

  ul {
    padding-left: 0;
  }

  &__item {
    display: flex;
    list-style-type: none;
    margin-top: 20px;
    padding-top: 20px;

    @include responsive(computer) {
      display: block;
    }

    &:not(:first-child) {
      border-top: 1px solid rgba(white, 0.5);
    }
  }

  &__position {
    flex-grow: 1;
    text-align: left;
    vertical-align: middle;
    font-size: 21px;
    margin-bottom: 0;
    height: auto;

    @include responsive(computer) {
      // width: 100%;
    }

    span {
      display: block;
      position: relative;
      top: 55%;
      transform: translateY(-50%);

      @include responsive(computer) {
        top: Opx;
        transform: none;
      }
    }
  }

  &__description {
    flex-grow: 0;
    vertical-align: middle;
    color: white;

    @include responsive(computer) {
      text-align: left;
    }

    .ui.button {
      margin-left: 15px !important;

      @include responsive(computer) {
        display: block;
        width: 100px;
        margin-left: 0 !important;
        margin-top: 10px;
      }
    }
  }
}

// Section Contact us

.section-contact-us {
  background: $color-tt-orange;

  .main-content {
    transition: height 0.2s;

    &__feedback {
      margin-top: 50px;
      display: none;
      opacity: 0;
      transition: opacity 1s;

      &.statusVisible {
        display: block;
        opacity: 1;
      }
    }
  }

  .feedback-message {
    &__title {
      font-size: 35px;
    }

    &__message {
      font-size: 18px;
    }

    color: white;
  }
}

.ui.inverted.form.contact-form {
  width: 100%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 0px;
  text-align: left;

  .field.field input:-webkit-autofill {
    background-color: black !important;
  }

  .column-message {
    margin-top: 20px !important;
  }

  @include responsive(mobile) {
    .ui.stackable.grid>.wide.column {
      margin-top: 20px !important;
    }
  }

  // .main-content {
  //   margin-bottom: 0;
  // }

  .field {
    text-align: left;
    color: white;

    >label {
      font-size: 18px !important;
      font-weight: 300 !important;

      &:after {
        color: white;
      }
    }

    input,
    textarea {
      background-color: transparent;
      font-family: $headerFont;
      font-size: 30px;
      border: none;
      border-bottom: 1px solid rgba(white, 0.5);
      color: white;
      padding-left: 0;
      padding-top: 10px;
      padding-bottom: 5px;
      border-radius: 0;
      transition: border 0.2s;

      &::placeholder {
        color: rgba(white, 0.5);
      }

      &:focus-within {
        border-bottom: 3px solid rgba(white, 1);
      }
    }
  }

  .ui.button.contact-form__submit {
    background-color: white !important;
    color: black;
    margin-top: 40px;
    margin-bottom: 50px;
    transition: transform 0.1s, color 0.1s;
    height: 50px;
    width: 130px;

    &:hover {
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
      transform: scale(1.07);
      color: $color-tt-orange;
    }
  }


}

.required.field.error {
  position: relative;
}

.field.error {
  label {
    color: white;
  }
}

.pointing.prompt {
  position: absolute;
  bottom: -25px;
  left: 0;
  background-color: transparent !important;
  border: none !important;
  color: white !important;
  opacity: 0.8;
  font-size: 14px;
}


.submit-loader {
  margin: 0 0 2em;
  text-align: center;
  padding: 0;
  margin: 10px auto 1em;
  display: none;
  vertical-align: top;
}

/*******************************
             Footer
*******************************/

.tt-footer {
  // position: absolute;
  // bottom: 15px;
  // right: 15px;
  // left: 15px;
  width: 100%;
  margin-bottom: 15px;
  background-color: black;
  height: 50px;
  display: flex;
  align-items: center !important;
  //padding: 5px 20px 5px 20px;
  padding: 15px 20px;

  @include responsive(tablet) {
    display: block;
    height: auto;
  }

  &__logo {
    width: 110px;
    flex-grow: 0;
    margin: 5px 0;

    img {
      display: block;
    }
  }

  &__content-info {
    flex-grow: 2;
    text-align: right;
    margin: 0;

    @include responsive(tablet) {
      text-align: left;
      padding: 0;
    }
  }
}

.content-info {
  list-style-type: none;

  @include responsive(tablet) {
    margin-top: 15px;
    //margin-bottom: 15px;
  }

  &__item {
    display: inline-block;
    font-size: 14px;
    padding: 0 5px 0 10px;

    a {
      color: $color-tt-grey-footer;
      transition: color 0.1s;

      &:hover {
        color: white;
      }
    }

    &:not(:first-child) {
      border-left: 1px solid rgba($color-tt-grey-footer, 0.5);

      @include responsive(mobile) {
        border: none;
      }
    }

    @include responsive(mobile) {
      display: block;
      padding: 5px 0px;
    }
  }
}

/*******************************
        Information pages
*******************************/

.infos_pages {
  h3 {
    font-size: 24px;
  }

  .social-menu {
    a {
      &:hover {
        color: $color-tt-orange;
      }
    }
  }

  .main-content {
    width: 80%;
    margin-top: 100px;
    margin-bottom: 100px;
    top: auto;
    transform: none;

    @include responsive(mobile) {
      margin-top: 60px;
    }

    &__title {
      margin-bottom: 50px;
      text-align: center;
    }

    h3 {
      text-align: left;
      margin-top: 50px;
    }

    p {
      color: black;
      font-size: 18px;
      line-height: 1.4em;
      text-align: justify;

      a {
        color: $color-tt-orange;
      }
    }
  }

  .tt-footer {
    position: static;
    width: 100%;
  }
}

/*******************************
        Loading screen
*******************************/

.loading-screen {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3000;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-tt-orange;
  color: white;
  transition: opacity 0.7s ease-in-out;

  &.loaded {
    opacity: 0;
    pointer-events: none;

    .spinner {
      opacity: 0;
    }
  }

  .centered-prompt {
    display: block;

    svg rect {
      fill: white;
    }
  }

  .spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
    transition: opacity 0.4s ease-out;

    .load-exp1,
    .load-exp2,
    .load-exp3,
    .load-exp4 {
      width: 100%;
      height: 100%;
      border-radius: 0;
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      animation: a-shapes 2.5s infinite ease;
      transform: scale(0, 0) rotateZ(180deg);
    }

    .load-exp1 {
      animation-delay: 0s;
    }

    .load-exp2 {
      animation-delay: 0.625s;
    }

    .load-exp3 {
      animation-delay: 1.25s;
    }

    .load-exp4 {
      animation-delay: 1.875s;
    }

    @keyframes a-shapes {
      0% {
        transform: scale(0, 0) rotateZ(-90deg);
        opacity: 0;
      }

      6% {
        transform: scale(1, 1) rotateZ(0deg);
        opacity: 1;
      }

      13% {
        transform: scale(1, 1) rotateZ(0deg);
        opacity: 1;
      }

      25% {
        transform: scale(0, 0) rotateZ(90deg);
        opacity: 0;
      }
    }
  }
}

/*******************************
          Identifying
*******************************/

.colored_1 {
  background-color: indianred !important;
}

.colored_2 {
  background-color: rosybrown !important;
}

.colored_3 {
  background-color: mediumpurple !important;
}

.colored_4 {
  background-color: aliceblue !important;
}

.colored_5 {
  background-color: gold !important;
}

.colored_6 {
  background-color: bisque !important;
}

.colored_7 {
  background-color: darkturquoise !important;
}

.colored_8 {
  background-color: darkseagreen !important;
}

.colored_9 {
  background-color: teal !important;
}

.colored_10 {
  background-color: tomato !important;
}