// Colors
$color-orange-pr: #ff4e00;
$color-brown-pr: #372229;
$color-blue-light-pr: #16b1e6;
$color-blue-dark-pr: #003c82;
$color-green-pr: #079100;
$color-black-pr: #1e181a;
$color-red-pr: #da0505;
$color-grey-darker: #888888;
$color-grey: #efefef;
$color-grey2: #e9e9e9;
$color-grey-light: #fafafa;
$color-grey-lighter: #f0f0f0;
$color-grey-lighter-border: #dadada;
$color-blue-bp: #30579c;
$color-blue-bp-saturated: #1a4590;
$color-blue-bp-saturated-lighter: #266ae1;
$color-grey2: #e5e5e5;
$color-grey-darker: #777777;
$color-blue-bp2: #199ddb;
$color-blue-bp3: #3e98d9;
$color-blue-bp-dark: #213a70;
$color-cyan-pr: #16b1e6;
$color-blue-pr: #003c82;
$color-anthracite-purple: #372229;


// Fonts
$font-source-sans: 'Source Sans Pro', sans-serif;
$font-helvetica-bd-cd: 'HelveticaNeueLT Com 57 Cn';
