/*******************************
          WebFonts
*******************************/


@font-face {
    font-family: 'HelveticaNeueLT Com 57 Cn';
    src: url('../fonts/HelveticaNeueLTCom-BdCn.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTCom-BdCn.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
